@page
@model Mission7.Pages.ConfirmationModel
@{
    ViewData["Title"] = "Order Confirmation";
}

<div class="text-center">
    <h2>Order completed successfully.</h2>
    <h3>Thank you!</h3>
    <a class="btn btn-info" asp-controller="Home">Return to Shop</a>
</div>